(
echo ##############################
echo # Visual Studio
echo ##############################
echo .vs/
echo **/.vs/
echo *.suo
echo *.user
echo *.userosscache
echo *.sln.docstates
echo
echo ##############################
echo # Build results
echo ##############################
echo bin/
echo **/bin/
echo obj/
echo **/obj/
echo
echo ##############################
echo # ASP.NET Core
echo ##############################
echo appsettings.Development.json
echo
echo ##############################
echo # Logs
echo ##############################
echo *.log
) > .gitignore
*.db
*.db-shm
*.db-wal
