##############################
# Visual Studio
##############################
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

##############################
# Build results
##############################
bin/
**/bin/
obj/
**/obj/

##############################
# ASP.NET Core
##############################
appsettings.Development.json

##############################
# Logs
##############################
*.log
