echo.>> .gitignore
echo # Build output>> .gitignore
echo bin/>> .gitignore
echo obj/>> .gitignore
echo **/bin/>> .gitignore
echo **/obj/>> .gitignore
echo.>> .gitignore
echo # Visual Studio>> .gitignore
echo .vs/>> .gitignore
echo **/.vs/>> .gitignore
